<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>198498898655-eh8d9s615dih1bj53bk9nvl75ecllosl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.198498898655-eh8d9s615dih1bj53bk9nvl75ecllosl</string>
	<key>API_KEY</key>
	<string>AIzaSyC8tEIkRZUsLOIIRO0TEk6rHGFLcX6ublE</string>
	<key>GCM_SENDER_ID</key>
	<string>198498898655</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.robbiegay.leka-messenger-app</string>
	<key>PROJECT_ID</key>
	<string>leka-messenger-app</string>
	<key>STORAGE_BUCKET</key>
	<string>leka-messenger-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:198498898655:ios:cbcbcd10a318c6e3a90f6a</string>
	<key>DATABASE_URL</key>
	<string>https://leka-messenger-app.firebaseio.com</string>
</dict>
</plist>